/* GENERAL */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

main{
  padding: 0 15%;
}

h3{
  font-weight: 500;
}

/* HEADER */
header{
  padding: 10px 15%;
  background: #505050;
  border: 2px solid black;
}

/* FORM */
.form-container{
  margin: 5px 0;
}

.form-container form{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.form-container label{
  font-size: 14px;
  font-weight: bold;
}

.form-container input{
  align-self: self-start;
  margin-bottom: 10px;
  padding: 0 3px;
  border: 2px solid black;
}

.form-container textarea{
  margin-bottom: 10px;
  padding: 0 3px;
  resize: none;
  border: 2px solid black;
}

.form-container #btn-submit{
  padding: 0 25px;
  background: lightgray;
  border-radius: 5px;
  font-size: 16px;
}

/* POSTS */
.posted-content-container ul li{
  list-style: none;
}

.posted-content-container .post{
  border: 2px solid black;
  margin: 10px 0;
  padding: 0 3px;
}

/* FOOTER */
footer {
  height: 80px;
  background: #505050;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer span{
  color: lime;
  text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 20px lime;
}

/* RESPONSIVE FEATURE */
@media only screen and (max-width: 600px) {
  .form-container input#txt-title{
    align-self: stretch;
  }
  
  .form-container input#btn-submit{
    align-self: center;
  }

  .posted-content-container .post h1{
    margin-bottom: 30px;
    text-align: center;
  }
  
  .posted-content-container .post p{
    text-align: justify;
  }
}